/*
 * This file is part of the Dynamic Suite framework.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 *
 * @package DynamicSuite
 * @author Grant Martin <commgdog@gmail.com>
 * @copyright 2021 Dynamic Suite Team
 */

$size-slim: 3rem
$size-slim-sixteenth: 0.1875rem
$size-slim-eight: 0.375rem
$size-slim-quarter: 0.75rem
$size-slim-third: 1rem
$size-slim-half: 1.5rem
$size-slim-two-third: 2rem
$size-slim-three-quarter: 2.25rem
$size-wide: 15rem

/* Container colors */
$color-background: #d2d6de
$color-container: whitesmoke

/* General use colors */
$color-primary: #15529d
$color-secondary: #6a6a6a
$color-warning: #ffc107
$color-failure: #e24848
$color-success: #38af47

/* Text colors */
$color-text: #111
$color-text-inverted: #fff
$color-text-inverted-soft: #c7cbd1
$color-text-soft: #444

/* Border colors */
$color-border: #ced4da

