<!DOCTYPE html>
<html lang="{{language}}">
    <meta charset="{{charset}}">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=5.0">
    <meta name="description" content="{{meta_description}}">
    <!--suppress HtmlUnknownTarget-->
    <link rel="icon" href="{{favicon}}">
    <title>{{title}}</title>
    <!--{{css_dynamicsuite}-->
    <!--{{window_data}}-->
    <div id="dynamicsuite">
        <!--suppress HtmlUnknownTag -->
        <ds-overlay v-if="!hide_overlay" v-bind="$data"></ds-overlay>
        <!--suppress HtmlUnknownAttribute -->
        <div id="ds-content" :class="{overlay:!hide_overlay}">{{body}}</div>
    </div>
    <!--{{css_global}}-->
    <!--{{css_variable}}-->
    <!--{{js_global}}-->
    <!--{{js_variable}}-->
</html>