<div id="ds-body">
    <section id="ds-nav-container">
        <header id="ds-nav-header">
            <a id="ds-nav-header-text" href="{{nav-header-path}}">{{nav-header-text}}</a>
        </header>
        <ul id="ds-nav">
            {{nav-links}}
        </ul>
        <footer id="ds-nav-footer">
            <a id="ds-nav-footer-text" href="/dynamicsuite/about">Dynamic Suite {{nav-footer-version}}</a>
        </footer>
    </section>
    <section id="ds-view-container">
        <header id="ds-view-header">
        <span id="ds-nav-mobile-toggle">
            <i class="fas fa-bars"></i>
        </span>
            <h1 id="ds-view-header-text">{{view-header}}</h1>
            <div id="ds-view-user-actions" {{hide-user-actions}}>
                <i class="fas fa-user"></i>
                <ul>
                    {{action-links}}
                    <li id="ds-logout-link" {{hide-logout-link}}><a href="{{login-view}}">Logout</a></li>
                </ul>
            </div>
        </header>
        <section id="ds-view">{{view-body}}</section>
    </section>
</div>